*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', sans-serif;
}
header{
 z-index: 999;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 200px;
 transition: 0.5s ease;
}
header .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 2%;
}
header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:before{
    content:'';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before{
    width: 100%;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #BF6836;
    padding: 100px 200px;
}
.home:before{
    z-index: 777;
    content: "";
    position: absolute;
    background: rgba(115,50,26,0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.home .content{
    z-index: 888;
    color: #fff;
    width: 78%;
    margin-top: 50px;
    display: none;

}
.home .content.active{
    display: block;

}
.home .content h1{
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}
.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}
.home .content p{
    margin-bottom: 65px;
}
.home .content a{
    background: #fff;
    padding: 15px 35px;
    color:#BF6836 ;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}
.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home .media-icons a:hover{
    transform: scale(1.3);
}
.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(88px);
    margin-bottom: 12px;
}
.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
    background: #D9965B;
}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
    transition: scale(1.2) ;
}
.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1s ease;
    transition-property: clip-path;
}
/* Inicio Landing */
.fondo-1{
    background:url(/img/pexels-brigitte-tohm-171292_big.jpg);
    background-size: cover;
}
.landing{
    color:#73321A;
    margin-top: 30vh;
    width: 140vh;
    font-size: 1em;
    margin-left: 10vh;
    display: flex;
}
.boton-1{
   margin-top: 5%;
   display: flex;
   justify-content: center;
}
.boton-1 input{
    width: 20vh;
    height: 3vw;
    color: #fff;
    background: #73321A;
    font-size: 0.8em;
}
.home-1 .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    margin-top: 3vh;
}
.home-1 .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.home-1 .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home-1 .media-icons a:hover{
    transform: scale(1.3);
}
.descuento {
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

/* Fin Landing */
/* I-Agradecimiento */
.central{
    display: flex;
}
.main{
    margin-top: 10%;
}
.fondo-2{
        background:url(/img/grettings.jpg)  no-repeat;
        background-size: cover;
}
.titulo{
    margin-bottom: 4%;
    font-size: 3em;
    text-align: center;
    color: #fff;
}
.text{
    color: #000;
    margin-left: 10%;
    width: 70%;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.boton-2 input{
    width: 30vh;
    height: 4vw;
    color: #fff;
    background: #73321A;
    font-size: 0.8em;
    margin-top: 5%;
    margin-bottom: 5%;
}
.home-2 .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    margin-top: 13vh;
}
.home-2 .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.home-2 .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home-2 .media-icons a:hover{
    transform: scale(1.3);
}
/* F-Agradecimiento */

/*I-Formulario */
.fondo-3{
    background:url(/img/pexels-viktoria-alipatova-2.jpg);
    background-size: cover;
}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 30px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 10%;
    width: 155vh;
    margin-left: 30vh;
}
.formulario__label{
    display: block;
    padding: 3%;
    cursor: pointer;
}
.formulario__grupo-input{
    position: relative;
}
.formulario__input{
    width: 50vh;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px 0 5px;
    transition: .3s ease all;
}
.formulario__input:focus{
    border: 3px solid #73321A;
    outline: none;
    box-shadow: 3px 0px 30px rgba(1, 1, 1, 0.5);
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__checkbox{
    margin-right: 5%;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}
.formulario__mensaje{
    height: 45px;
    background: red;
    padding: 13px 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #73321A;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-bottom: 5%;
}
.formulario__btn:hover{
    background-color: #BF6836;
    color: #000;
}
.formulario__mensaje-exito{
    display: none;
    color: #119200;
    }
.formulario__mensaje-exito-activo{
        display: block;
    }
.formulario__grupo-correcto 
 .formulario__validacion-estado{
        color: #1ed12d;
        opacity: 1;
    }
    .formulario__grupo-incorrecto
    .formulario__label{
        color: red;
    }
    .formulario__grupo-incorrecto
    .formulario__validacion-estado{
        color: red;
        opacity: 1;
    }
    .formulario__grupo-incorrecto
    .formulario__input{
        border: 3px solid red;
    } 
.home-3 .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    margin-top: 43vh;
}
.home-3 .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.home-3 .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home-3 .media-icons a:hover{
    transform: scale(1.3);
}

/* F-Formulario */

/* F-Formulario */
/* About_us */
.fondo-4{
    background: url(/img/about-2.jpg);
    color: #fff;
}
.us{
    margin-top: 10%;
}
.about{
    padding: 24px;
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    border-radius: 10px;
    text-align: center;
    text-align: justify;
    width: 100vh;
    margin-left: 50vh;
    color: #000;
    height: 76vh;
}
.us h1{
    text-align: center;
    margin-bottom: 2%;
}
.us h3{
    font-size: 2em;
    padding: 2% 0;
}
section img{
    width: 40vh;
}
/* About_us */
/* productos*/
.fondo-5{
    background: url(/img/desenfoque.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    justify-content: space-around;
    width: 150vh;
    margin-top: 3vh;
    margin-left: 30vh;
}

.producto {
    margin: 65px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    border-radius: 8px;
}

.acciones {
    margin-top: 10px;
}

.like-btn {
    padding: 8px 16px;
    background-color: #73321A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.like-btn:hover {
    background-color: #45a049;
}
.prod h1{
    margin-top: 20vh;
    text-align: center;
    font-size: 3em;
}
/* productos */
@media  (max-width: 1024px ){
    header{
        padding: 12px 20px;
    }
    .home{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display:none ;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a{
        color:#222;
        font-size: 1.2em;
        margin: 20px;
    }
    header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1/ 20%);

    }
    .menu-btn{
        background:url(/img/iconos/menu.svg);
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active{
        z-index: 999;
        background: url(/img/iconos/x.svg);
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
    .boton-1 input{
        width: 30vh;
        height: 5vw;

    }
    /* formulario */
    .formulario{
        grid-template-columns: 1fr;
        width: 130vh;
        justify-content: center;
        margin-left: 15%;
        height: 90vw;
    }
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar{
        grid-column: 1;
    }
    /* formulario */
    /* about-us */
    .us h1{
        margin-top: 10%;
        margin-left: 3%;
        font-size: 2em;
    }
    .about{
        width: 50%;
        margin-right: 15%;
        height: 90vh;
    }
    /* about-us */
    /* landing */
    .landing {
        width: 80vw;
        margin-left: 5vw;
    }
    .fondo-1{
        height: 80vw;
    }

    .home-1 .media-icons {
        margin-right: 20vh;
    }

    .descuento {
        padding: 10px;
    }
    /* landing */



}
@media  (min-width: 375px) and (max-width: 768px) {
    .landing{
        width: 43vh;
        margin-left: 10%;
    }
    .fondo-1{
        height: 380vw;
    }
    .home-1 .media-icons {
        right: 10px;
        margin-top: 20vh;
    }
    .boton-1 input{
        width: 20vh;
        height: 20vw;

    }
        /* formulario */
        .formulario{
            grid-template-columns: 1fr;
            width: 130vh;
            justify-content: center;
            margin-left: 15%;
            height: 270vw;
        }
        .formulario__grupo-terminos,
        .formulario__mensaje,
        .formulario__grupo-btn-enviar{
            grid-column: 1;
        }
        /* formuario */
        /* about-us */
        .us h1{
            margin-top: 22%;
            font-size: 2em;
        }
        .about{
            height: 50%;
            width: 70%;
            margin-left: 12%;
        }
        .about img{
            width: 75%;
        }
        /* about-us */
}