<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/iconos/icons8-café-64.png" type="image/png">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
  </head>
  <body class="fondo-4">
    <header>
      <a href="home.html" class="brand">A - Team</a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/home.html">HOME</a>
          <a href="/templates/About Us/about_us.html">ABOUT US</a>
          <a href="/templates/Productos/products.html">PRODUCTS</a>
        </div>
      </div>
      <div class="home-3">
        <div class="media-icons">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>
    </header>
    <main class="us">
      <h1>About US</h1>
      <section class="about-img">
      <section class="about">
        <h3>Nuestra Filosofía</h3>
        <p>
          En "A-Team", nos esforzamos por más que solo servir
          café; buscamos crear experiencias memorables. Desde los primeros rayos
          de sol hasta las noches acogedoras, nuestro objetivo es tejer momentos
          especiales a través de la magia del café. Nos enorgullece ofrecer una
          selección cuidadosamente curada de granos de café provenientes de
          fincas sostenibles, garantizando una calidad excepcional en cada taza.
          .
        </p>
        <h3>Ambiente Cálido</h3>
        <p>
          El ambiente en nuestra cafetería es una mezcla única de modernidad y
          calidez. La suave iluminación, los tonos terrosos y el aroma a café
          recién molido crean un espacio donde puedes relajarte, trabajar o
          simplemente disfrutar de la compañía de amigos. Nuestro personal
          amable está aquí para convertir cada visita en una experiencia
          placentera y personalizada
        </p>
        <h3>Ven y Descubre</h3>
        <p>
          Te invitamos a sumergirte en la experiencia "Aroma de
          la Ciudad". Ya sea que busques tu taza de café perfecta, un lugar para
          reunirte con amigos o un rincón tranquilo para reflexionar, estamos
          aquí para ofrecerte más que una bebida; estamos aquí para ofrecerte
          momentos inolvidables. ¡Bienvenido a "A-Team"!
        </p>
        <img src="/img/grettings-removebg-preview.png" alt="">
      </section>
    </section>
    </main>
    <footer>
      <script src="/js/js.js"></script>
    </footer>
  </body>
</html>
