<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <main>
        <header>
            <img src="img/Kawaii Coffee.png" alt="logo" class="logo">
            <h3>COFFEE</h3>
            <nav>
                <ul>
                    <li><a href="file:///C:/Users/Administrator/Web_Ciber/landing/home/home.html#">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">SELECCIÓN</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="cuadrado">
                <form action="" class="form">
                    <input type="text" name="" value="Nombre">
                    <input type="email" name="" value="Emal">
                    <input type="text" name="" value="Población">
                    <div class="boton">
                        <a href="file:///C:/Users/Administrator/Web_Ciber/landing/home/home.html#"><input type="submit" value="Enviar" required></a>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <img src="../agradecimiento/img/instagram.svg" alt="">
        <img src="../agradecimiento/img/x-twitter.svg" alt="">
        <img src="../agradecimiento/img/facebook.svg" alt="">
        <img src="../agradecimiento/img/pinterest.svg" alt="">

    </footer>
</body>
</html>