<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="fondo-1">
    <main>
        <header>
            <a href="/home.html" class="brand">A - Team</a>
            <div class="menu-btn"></div>
            <div class="navigation">
              <div class="navigation-items">
                <a href="/home.html">HOME</a>
                <a href="#">CONTACT</a>
                <a href="#">ABOUT US</a>
                <a href="#">PRODUCTS</a>
              </div>
            </div>
          </header>
          <div class="home-1">
            <div class="media-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
        <section>
            <div class="landing">
            <section>
                <div class="text">
                    <div class="descuento">
                        <P>POR LA COMPRA DE CUALQUIER PRODUCTO </P>
                        <p> UN 30% DESCUENTO EN NUESTRO  MEZCLA DE CAFÉ ARÁBICA</P>
                          <div class="boton-1">
                            <a href="/templates/Landing/index.html"><input type="button" value="COMPRAR"></a>
                        </div>
                    </div>
                </div>
                </section>
        </section>
    </main>
      </div> 
    <footer>
    </footer>
    <script src="/js/js.js"></script>
</body>
</html>
