<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <header>
            <img src="img/logo.png" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="file:///C:/Users/Administrator/Web_Ciber/landing/home/home.html#">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">SELECCIÓN</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <!-- <div class="main">
            <section>
                <div class="text">
                    <div class="descuento">
                        <P>POR LA COMPRA DE CUALQUIER PRODUCTO </P>
                        <p> UN 30% DESCUENTO EN NUESTRO  MEZCLA DE CAFÉ ARÁBICA, ESPECIALIDAD DE OTOÑO/INVIERNO</P>
                    </div>
                    <div class="boton">
                    <a href="file:///C:/Users/Administrator/Web_Ciber/landing/agradecimiento/agradecimiento.html#"><input type="button" value="COMPRAR"></a>
                </div>
                </div>
                </section>
                </div> -->
        </section>
    </main>
    <footer>
        <footer>
            <img src="../landing/img/iconos/facebook.svg" alt="">
            <img src="../landing/img/iconos/instagram.svg" alt="">
            <img src="../landing/img/iconos/x-twitter.svg" alt="">
            <img src="../landing/img/iconos/pinterest.svg" alt="">
        </footer>
    </footer>
</body>
</html>