<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimiento</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <main>
        <header>
            <img src="img/Kawaii Coffee.png" alt="logo" class="logo">
            <h3>COFFEE ME</h3>
            <nav>
                <ul>
                    <li><a href="file:///C:/Users/Administrator/Web_Ciber/landing/home/home.html#">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">SELECCIÓN</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="main">
                <h1>¡GRACIAS POR SU COMPRA!</h1>
                <div class="central">
                <div class="delivery">
                    <img src="img/pexels-cup-of-couple-6634182.jpg" alt="">
                </div>
                <div class="text">
                    <p>SU PEDIDO LLEGARÁ A SU DOMICILIO DE 7-10 DÍAS</p>
                    <div class="boton">
                       <a href="file:///C:/Users/Administrator/Web_Ciber/landing/formulario/formulario.html"><input type="button" value="SUSCRÍBETE"></a>
                    </div>
                    <p class="adicional">PARA UN 10% ADICIONAL SUSCRIBETE A NUESTRO NEWSLETTER</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <img src="../agradecimiento/img/instagram.svg" alt="">
        <img src="../agradecimiento/img/x-twitter.svg" alt="">
        <img src="../agradecimiento/img/facebook.svg" alt="">
        <img src="../agradecimiento/img/pinterest.svg" alt="">

    </footer>
</body>
</html>