<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimiento</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body class="fondo-2">
    <main>
        <header>
            <a href="#" class="brand">A - Team</a>
            <div class="menu-btn"></div>
            <div class="navigation">
              <div class="navigation-items">
                <a href="#">HOME</a>
                <a href="#">CONTACT</a>
                <a href="#">ABOUT US</a>
                <a href="#">PRODUCTS</a>
              </div>
            </div>
          </header>
          <div class="home-2">
            <div class="media-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
        <section>
            <div class="main">
                <h1>¡GRACIAS POR SU COMPRA!</h1>
                <div class="central">
                <div class="delivery">
                </div>
                <div class="text">
                    <p>SU PEDIDO LLEGARÁ A SU DOMICILIO DE 7-10 DÍAS</p>
                    <div class="boton-2">
                       <a href="/formulario/formulario.html"><input type="button" value="SUSCRÍBETE"></a>
                    </div>
                    <p class="adicional">PARA UN 10% ADICIONAL SUSCRIBETE A NUESTRO NEWSLETTER</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>
    <script src="/js/js.js"></script>
</body>
</html>
